body{
  font-family: Arial;
  background: linear-gradient(135deg,#111,#222);
  color:white;
  text-align:center;
}

#euro{
  font-size:60px;
  cursor:pointer;
  margin:20px;
  user-select:none;
}

.container{
  display:flex;
  justify-content:center;
  gap:20px;
}

.panel{
  width:300px;
  background:#ffffff10;
  padding:15px;
  border-radius:15px;
}

.shopItem, .questItem{
  background:#ffffff15;
  padding:10px;
  margin:10px;
  border-radius:10px;
}

button{
  padding:10px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.car{
  padding:10px;
  margin:5px;
  display:inline-block;
  border-radius:10px;
}
body {
    border: 5px solid red;
}
